<AuthorizeView>
    <Authorized>
        @context?.User?.Claims?.FirstOrDefault(c => c.Type == "unique_name")?.Value.ToString()
        <a href="Logout">Deslogar</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login">Acesso</a>
    </NotAuthorized>
</AuthorizeView>